<div class="form-group">
        <label class="col-sm-3 control-label">Accounts</label>
      
        <div class="col-sm-8">
          <ui-select ng-model="manager.selectedResource.parents" close-on-select="false" multiple>
            <ui-select-match placeholder="Select accounts...">{{ $item.name }}</ui-select-match>
            <ui-select-choices repeat="account.selfLink as account in manager.account | filter: { username: $select.search }"
            refresh="manager.loadListResources('account', $select.search)"
            refresh-delay="500"
            minimum-input-length="3">
              <div ng-bind-html="account.username | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      